{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static '/blog/about-bg.png' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">My journey so far</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, I'm a hobbiest developer and professional Computer Technician that's
            passionate
            about Deep learning and kernel hacking. I'm a massive Linux fan and proud to use Arch Linux both on my laptop and Raspberry pi 4. </p>
            <p>My programming languages of choice is Python and C++. I have some python tutorials over at the tutorials page mostly teaching solutions to LeetCode problems with Python.</p>
            <p>My editor of choice really depends on what I'm doing, If i'm writing a new TensorFlow classifier then I'll use Sublime Text, If im making changes to a Django site I'll use
            PyCharm and if I'm writing a kernel patch I'll use vim. Software development and programming is just a much loved hobby for me at the moment but I hope to take it further when
            I acheive my degree in Computer Science.</p>
        <a href="https://github.com/danlove99" > Github</a>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}