{% extends 'blog/homebase.html' %}
{% block content %}
<h3 style="text-align: center; color: #fff;font-family: 'Baloo Chettan 2', cursive;font-size:35px;" class="display-3"> recent projects </h3>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1">
        <img src="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1">
        <img src="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1">
        <img src="https://regmedia.co.uk/2019/02/06/shutterstock_429792736.jpg?x=442&y=293&crop=1" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>
<h3 style="text-align: center; color: #fff;font-family: 'Baloo Chettan 2', cursive;font-size:35px;" class="display-3"> recent blogs </h3>
<div class="row" style="text-align: center;">
  <div class="col-md-4">
<div class="card" style="width: 100%;">
  <div class="card-body" >
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </div>
      <div class="col-md-4">
<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </div>
      <div class="col-md-4">
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </div>
</div>
{% endblock %}