{% extends 'blog/base.html' %}
{% block content %}
<h3 style="text-align: center; color: #fff;font-family: 'Baloo Chettan 2', cursive;" class="display-4"> Blogs </h3>
        {% for post in posts %}
        <br/><br/>
         <div style="text-align:center;background-color: #d488f7;color: #fff; border-radius: 5px;padding:10px; ">
            <p style="word-wrap: break-word;">published: {{ post.published_date }}</p>
            <h2 style="word-wrap: break-word;">{{ post.title }}</h2>
            <p style="word-wrap: break-word;"> {{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
{% endblock %}