{% extends 'blog/base.html' %}
{% block content %}
<h3 style="text-align: center; color: #fff;font-family: 'Baloo Chettan 2', cursive;" class="display-3"> SQL NoSQL </h3>
        {% for post in posts %}
        <br/><br/>
         <div style="text-align:center;background-color: #d488f7;color: #fff; border-radius: 5px;padding:10px;margin: 20px 50px 20px 50px; ">
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p> {{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
{% endblock %}