{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static '/blog/about-bg.png' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Tutorials</h1>
            <span class="subheading">Programming tutorials!</span>

          </div>
        </div>
      </div>
    </div>
  </header>


<div class="container" style="text-align:center;">
<br/><br/>
    <br/><br/>
    <h1> LeetCode</h1>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/B7k6y2lc1SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/fM-M0xSGQ58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/pRjxGAJMSEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/0xEVWzxNR_U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/4cr9GolqSUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/xBhLGa1429I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/dn54_--nfwY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <h1> Machine learning </h1>
    <br/><br/>

    <iframe width="853" height="480" src="https://www.youtube.com/embed/QYJJd2wLLww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/WfKk-5RU5Nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/hQLF2IHXKvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
    <br/><br/>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/gmbS2mMUzI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/><br/>
<br/><br/>

</div>

<br/><br/><br/>

{% endblock %}